body {
	background:		#fff;
	font:			normal 10pt Helvetica,Arial;
}

#top {
	position:		absolute;
	top:			0px;
	left:			0px;
	right:			0px;
	height:			35px;
	font:			bold 24pt Helvetica,Arial;
	padding:		2px;
	text-align:		left;
	background-color:	#eee;
	border-bottom:		5px solid #56a;
}

#top a {
	border-bottom:		none;
}

#nav {
	position:		relative;
	display:		block;
	text-align:		left;
	margin:			45px 2px auto;
	background-color:	#fff;
}

#nav a {
	color:			#11f;
	padding:		0px 2px 0px 2px;
	text-decoration:	none;
	font:			bold small-caps 10pt Helvetica,Arial;
}

#nav a:hover {
	color:			#03d;
	text-decoration:	none;
	border-bottom:		none;
}

#status {
	position:		fixed;
	top:			0px;
	right:			5px;
	background:		#feb;
	padding:		2px;
}

.highlight {
	display:		inline;
	font:			normal 8pt Helvetica,Arial;
	color:			#567;
}

.highlight .status_title {
	display:		inline;
	font:			bold 8pt Helvetica,Arial;
	color:			#345;
}

#current {
	position:		relative;
	margin:			15px auto;
	font:			normal 10pt Helvetica,Arial;
	color:			#eee;
	height:			23px;
	background:		#56a;
}

#act {
	position:		relative;
	margin:			10px;
	font:			normal 10pt Helvetica,Arial;
	color:			#eee;
}

#lectall {
	position:		relative;
	margin-left:		2px;
	font:			normal 8pt Helvetica,Arial;
}

#lectall a, #selection a {
	color:			#03d;
	text-decoration:	none;
	font:			bold 8pt Helvetica,Arial;
}

#main {
	position:		relative;
	margin:			10px 2px 2px 2px;
	font:			normal 8pt Helvetica,Arial;
	color:			#345;
	display:		block;
	text-align:		left;
}

#login {
	position:		relative;
	margin:			50px auto;
	width:			300px;
	height:			160px;
	font:			bold 12pt Helvetica,Arial;
	color:			#56a;
	text-align:		right;
	background-color:	#eeeeee;
	border:			3px solid #56a;
	padding:		0px;
}

a {
	color:			#456;
	text-decoration:	none;
}

a:hover {
	color:			#234;
	text-decoration:	none;
}

.table {
	padding:		3px;
	table-layout:		fixed;
}

#bottom, .table tfoot tr td {
	color:			#234;
	padding:		3px;
	font:			normal 7pt Helvetica,Arial;
	background-color:	#ddddee;
	text-align:		right;
	width:			100%;
}

.sortable {
	position:		relative;
	border:			1px solid #aabbff;
	margin-top:		5px;
	padding:		3px;
	table-layout:		fixed;
	width:			100%;
}

.sortable th, .table th {
	border-bottom:		1px solid #cccccc;
	background-color:	#eeeeff;
	padding:		2px;
}

.sortable .row td {
	border-bottom:		1px solid #cccccc;
	background:		#fff;
}

.sortable .selectedrow td {
	border-bottom:		1px solid #aaaaaa;
	background:		#ffd;
}

.sortable .head_type, .sortable .col_type {
	width:			40px;
}

.sortable .col_type img {
	border:			0;
}

.sortable .head_size, .sortable .col_size {
	width:			40px;
}

.sortable .col_type {
	text-align:		left;
	padding:		1px;
}

.sortable .head_filename, .sortable .col_filename {
	width:			130px;
	white-space:		nowrap;
	overflow:		hidden;
}

.sortable .m_desc {
	font:			normal 8pt Helvetica,Arial;
	display:		block;
	white-space:		nowrap;
	color:			#aaa;
	font-style:		italic;
}

.sortable .head_type, .sortable .head_filename {
	cursor:			default;
}

.row a, .row a:hover, .selectedrow a, .selectedrow a:hover, .descr a, .descr a:hover, .sortable .col_type a, .sortable .col_type a:hover {
	text-decoration:	none;
	border:			0px;
}

.renameinput {
	width:			160px;
}

hr.line {
	border:			0;
	background-color:	#abc;
	color:			#abc;
	height:			1px;
}

.sortable th:hover, .dir:hover {
	color:			#06f;
}

#settingsblock {
	width:			inherit;
	font-size:		10pt;
	color:			#234;
	padding:		2px;
	text-align:		center;
	border:			2px solid #459;
	margin:			5px 0 0 0;
	background:		#fff;
}

.tab, .stab {
	display:		inline;
	border:			2px solid #459;
	padding:		5px;
	margin:			0px auto 0px auto;
	background:		#459;
	color:			#eee;
}

.stab {
	border-bottom:		2px solid #fff;
	background:		#fff;
	padding-top:		7px;
	color:			#459;
}

.tab:hover, .stab:hover {
	border:			2px solid #67b;
	background:		#67b;
	color:			#fff;
}

.settingsrow {
	width:			100%;
	border-bottom:		1px solid #bbccdd;
	padding:		2px;
	text-align:		right;
}

.settingsrow .input {
	display:		inline;
}

.settingsusername {
	display:		inline;
	font-weight:		bold;
	text-align:		center;
}

.version {
	margin:			3px;
	padding:		3px;
	background-color:	#fff;
	border:			1px solid #bcd;
}

.bq {
	border:			2px solid #bcd;
	width:			280px;
	height:			40px;
	margin:			0px;
	padding:		3px;
	background-color:	#fff;
	overflow:		auto;
	white-space:		pre-wrap;
}

.levels_help {
	padding:		3px;
	background-color:	#ddd;
	font:			normal 8pt Helvetica,Arial;
	border:			1px solid #bcd;
}

#overlay {
	position:		fixed !important;
	top:			0px;
	left:			0px;
	width:			100% !important;
	height:			100% !important;
	background:		#000;
	opacity:		0.75;
	filter:			alpha(opacity=75);
	z-index:		97;
	visibility:		hidden;
	text-align:		center;
}

#overoverlay {
	position:		absolute;
	top:			0px;
	left:			0px;
	width:			100%;
	height:			100%;
	z-index:		98;
	visibility:		hidden;
	text-align:		center;
}

#overoverlay #action {
	margin:			10px auto;
	text-align:		left;
	width:			300px;
	background-color:	#eeeeee;
	border:			10px solid #5566aa;
	padding:		10px;
	overflow:		auto;
}

#overoverlay #oclose {
	margin:			20px auto -120px auto;
	width:			300px;
	text-align:		right;
	z-index:		99;
}
